.chromeComponent
{
    box-shadow: 1px 1px 10px lightskyblue;
    position: relative;
}

.chromeComponent .configureComponent
{
    position: absolute;
    right: 0px;
    background-color: lightskyblue;
}